@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-buttons/styles/material.css";
@import "@syncfusion/ej2-calendars/styles/material.css";
@import "@syncfusion/ej2-dropdowns/styles/material.css";
@import "@syncfusion/ej2-inputs/styles/material.css";
@import "@syncfusion/ej2-navigations/styles/material.css";
@import "@syncfusion/ej2-popups/styles/material.css";
@import "@syncfusion/ej2-splitbuttons/styles/material.css";
@import "@syncfusion/ej2-grids/styles/material.css";
@import "@syncfusion/ej2-schedule/styles/material.css";
@import "@syncfusion/ej2-lists/styles/material.css";
@import '@syncfusion/ej2-kanban/styles/material.css';
@import '@syncfusion/ej2-inplace-editor/styles/material.css';
@import "@syncfusion/ej2-react-richtexteditor/styles/material.css";

@import "tailwindcss";

@import "./theme.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0 7px 30px 0;
  background: white;
  min-height: 100vh;
  padding: 1rem;
  transition: 0.3s ease;
}

@media screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
    position: fixed;
    left: 0;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Quick popup styles */
.e-quick-popup-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.e-quick-popup-wrapper .e-header {
  border-radius: 0.5rem 0.5rem 0 0;
}

.e-quick-popup-wrapper .e-popup-content {
  padding: 1rem;
}

/* DatePicker styles */
.e-calendar {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.e-calendar .e-content {
  border-radius: 0 0 0.5rem 0.5rem;
}

/* color-picker style  */
#preview {
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background: #008000 url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png') no-repeat;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}